<div class="cars">
  <h1>Автомобили</h1>
</div>
<!--[disabled]="!canAddCar"-->
<button class="btn btn-primary" (click)="addCar()" >Добавить автомобиль</button>
<p>{{addCarStatus}}</p>
<hr>
<div class="car">
  <app-car></app-car>
  <app-car></app-car>
</div>

<hr>
<p>После ввода текста нажмите Enter</p>
<!--Пример с формой-->

<!--<input type="text" class="form-control" (input)="onKeyup($event)" >-->
<!--<input type="text" class="form-control" #myInp (input)="onKeyup(myInp.value)" >-->

<input type="text" class="form-control" (keyup.enter)="onKeyup($event)" >

<p></p>
<p>{{inputText}}</p>
